.Gif {
  border: 1px solid #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 32px;
  text-decoration: none;
  width: 100%;
}

.Gif h4 {
  margin: 0;
}

.Gif img {
  object-fit: contain;
}
